Repository tjquinno/openapi-generator, pull requests merged in 2022-09, with the labels that each got.

#52 [Server] Change stability to Beta
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaHelidonServerCodegen.java
Labels: server

#49 Helidon Se server enhancements
  docs/generators/java-helidon-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaHelidonServerCodegen.java
  modules/openapi-generator/src/main/resources/java-helidon/server/libraries/se/api.mustache
  modules/openapi-generator/src/main/resources/java-helidon/server/libraries/se/apiImpl.mustache
  modules/openapi-generator/src/main/resources/java-helidon/server/libraries/se/main.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonMpServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonSeServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalBase.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonMPServerTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonSeServerTest.java
Labels: server, SE

#59 MP server enhancement
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaHelidonServerCodegen.java
  modules/openapi-generator/src/main/resources/java-helidon/server/libraries/mp/api.mustache
  modules/openapi-generator/src/main/resources/java-helidon/server/libraries/mp/apiImpl.mustache
  modules/openapi-generator/src/main/resources/java-helidon/server/libraries/mp/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonMpServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalBase.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonMPServerTest.java
Labels: server, MP
